body {
    padding:0;
    margin: 0;
    background-color: black;
}
.building {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:860px;
    overflow: hidden;
    position: relative;
}
.floor {
    margin-right: 5px;
    width: 513px;
    height: 430px;
    background-image: url('assets/stairs.png');
    position: relative
}

/* Elevator cabin */

#cabin {
    position: absolute;
    left: 230px;
    top: 138px;
    width: 175px;
    height: 231px;
    background-image: url('assets/cabin.png');
}

.door {
    position: absolute;
    top: 138px;
    width: 92px;
    height: 232px;
    background-position: 0 0;
    background-size: 100% 100%;
    padding:0;
    margin:0;
}

.left {
    background-image: url('assets/left.png');
    background-repeat: no-repeat;
    left:226px;
}

.right  {
    background-image: url('assets/right.png');
    background-repeat: no-repeat;
    left:318px;
}

.left.open, .right.open {
    transition: left 2s;
}
.left.open  { left: 134px; }
.right.open { left: 410px; }

.wall {
    position: absolute;
    width: 513px;
    height: 430px;
    background-image: url('assets/floor.png');
}

/* Stair door */

.stair-door {
    position: absolute;
    top: 157px;
    left: 22px;
    width: 97px;
    height: 215px;
    background-image: url('assets/door.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background-size 1s;
}

.stair-door.open, .floor:hover .stair-door {
    background-size: 30% 100%;
    transition: background-size 1s;
}

/* Call buttons */

a.callbtn {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 440px;
    width: 28px;
    height: 30px;
    color: transparent;
    background-image: url('assets/updown.png');
    background-repeat: no-repeat;
}
.callbtn.sel  , .callbtn:hover   { 
    background-image: url('assets/updown-light.png'); 
}
.up   { top: 219px; }
.down { top: 250px; background-position-y: -31px; }

/* Digits */
.digits {
    position: absolute;
    top: 69px;
    left: 266px;
    z-index: 1;
}

.digits ul {
    display: block;
    padding:0;
    margin:0;
    position: relative;
}

.digits li {
    display: block;
    position: absolute;
    width: 23px;
    height: 32px;
    padding:0;
    background-position-x: 23px;
    background-image: url('assets/digits.png');
    background-repeat: no-repeat;
    list-style-type: none;
    color: transparent;
}

.d0 { left: 0; }
.d1 { left: 24px; }
.d2 { left: 48px; }
.d3 { left: 57px; }
.d4 { left: 81px; }

.d2.seg1 { 
    width: 9px;
    background-image: none;
}

li.segoff { background-position-x: 0; }
.seg0.sel { background-position-x: -23px; }
.seg1.sel { background-position-x: -46px; }
.seg2.sel { background-position-x: -69px; }
.seg3.sel { background-position-x: -92px; }
.seg4.sel { background-position-x: -115px; }
.seg5.sel { background-position-x: -138px; }
.seg6.sel { background-position-x: -161px; }
.seg7.sel { background-position-x: -184px; }

.d2.seg0.sel {
    background-position-x: -207px;
}


/* Elevator control panel */

.panel {
    z-index: 1;
    position: absolute;
    left: 480px; top: calc(40% - 214px);
    width: 166px;
    height: 478px;
    background-size: 166px 478px;
    background-image: url('assets/console.png');
}

.screen {
    width: 140px;
    height: 64px;
    padding: 32px 0 0 26px;
}

.screen p {
    transform:scale(1,1.9); 
    -webkit-transform:scale(1,1.9);
    font-family: 'Doto', sans-serif;
    color: #014;
    font-size: 12px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    white-space: pre;
}

.screen.backlight p {
    color: #03E;
}

.backlight {
    background-repeat: no-repeat;
    background-size: 166px 96px;
    background-image: url('assets/backlight.png');   
}

.panel ul {
    padding: 3px 9px;
    margin: 0 0;
}

.panel li {
    list-style: none;
    float: left;
    display: block;
    width: 59px;
    height: 55px;
    margin: 2px 7px;
}
.panel a.btn {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    padding-top: 14px;
    width: 100%;
    height: 45px;
    display: inline-block;
}

.panel a.sel {
    background-image: url('assets/btn-light.png');
    background-repeat: no-repeat;
    background-size: 59px 230px;
}
.panel .row1 {background-position-y: -59px;}
.panel .row2 {background-position-y: -118px;}
.panel .row3 {background-position-y: -178px;}

.panel .btnstop {
    margin-top: 17px;
    background-size: 166px 126px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 166px;
    height: 126px;
}
.panel .btnstop.sel {
    background-image: url('assets/stop-light.png');
}